<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
   https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="timeoutLogin" value="20" />
    
    <!--<add key="urlGetToken" value="https://identityhubapi.azurewebsites.net/connect/token" />-->
    <add key="urlGetToken" value="http://10.20.0.161:5001/connect/token" />
    <!--<add key="urlGetToken" value="https://expoidentityp1.unimednordesters.com.br/connect/token" />-->
    
      <!--<add key="urlGetToken" value="https://expoidentity.unimednordesters.com.br/connect/token" />-->
    
    <add key="clientIdentificationConfiguracao" value="clientconfiguracao" />
    <add key="clientIdentificationAdministrativo" value="clientadministrativo" />
    <add key="clientIdentificationUsuario" value="clientusuario" />
    <add key="clientIdentificationOperacional" value="clientoperacional" />

    <add key="clientSecretConfiguracao" value="secret" />
    <add key="clientSecretAdministrativo" value="secret" />
    <add key="clientSecretUsuario" value="secret" />
    <add key="clientSecretOperacional" value="secret" />

    <add key="scopeConfiguracao" value="configuracao_api" />
    <add key="scopeAdministrativo" value="administrativo_api" />
    <add key="scopeUsuario" value="usuario_api" />
    <add key="scopeOperacional" value="operacional_api" />


    <!-- azure -->
    <!--<add key="urlUsuario" value="http://expousuarioapi.azurewebsites.net/" />
    <add key="urlModuloAdministrativo" value="http://expoadministrativoapi.azurewebsites.net/" />
    <add key="urlModuloConfiguracao" value="http://expoconfiguracaoapi.azurewebsites.net/" />
    <add key="urlModuloOperacional" value="http://expooperacionalapi.azurewebsites.net/" />-->

    <!-- perinatal -->
    <add key="urlUsuario" value="http://10.20.0.161:5002/" />
    <add key="urlModuloAdministrativo" value="http://10.20.0.161:5004/" />
    <add key="urlModuloConfiguracao" value="http://10.20.0.161:5005/" />
    <add key="urlModuloOperacional" value="http://10.20.0.161:5006/" />
    
    <!-- unimed homologacao-->
    <!--<add key="urlUsuario" value="https://expousuariop1.unimednordesters.com.br/" />
    <add key="urlModuloAdministrativo" value="https://expoadministrativoapip1.unimednordesters.com.br/" />
    <add key="urlModuloConfiguracao" value="https://expoconfiguracaoapip1.unimednordesters.com.br/" />
    <add key="urlModuloOperacional" value="https://expooperacionalp1.unimednordesters.com.br/" />-->
    
        <!-- unimed produção-->
    <!--<add key="urlUsuario" value="https://expousuario.unimednordesters.com.br/" />
    <add key="urlModuloAdministrativo" value="https://expoadministrativoapi.unimednordesters.com.br/" />
    <add key="urlModuloConfiguracao" value="https://expoconfiguracaoapi.unimednordesters.com.br/" />
    <add key="urlModuloOperacional" value="https://expooperacional.unimednordesters.com.br/" />-->
    
    
    <add key="percentualAtencaoSLA" value="10" />
    <add key="tempoCache" value="5" />
    <add key="userToken" value="" />
    <add key="accessKeyToken" value="" />

    <add key="CodPerfilAdministrador" value="1" />
    
  </appSettings>
  <!--
    Para obter uma descrição das alterações do web.config, consulte http://go.microsoft.com/fwlink/?LinkId=235367.

    Os seguintes atributos podem ser definidos na marca <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <!--<authentication mode="None" />-->
    <authentication mode="Forms">
      <forms loginUrl="~/Login/Login" timeout="300" protection="All" cookieless="UseCookies" slidingExpiration="false" />
    </authentication>
    <authorization>
      <!--<allow users="*"></allow>-->
      <deny users="?" />
    </authorization>
    <sessionState mode="InProc" timeout="20" />
    <httpRuntime targetFramework="4.5" maxRequestLength="2500" />
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>

  </system.web>
  
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>