<div class="welcome-page container">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                <img class="icon" src="~/icon.jpg">
                Bem vindo ao Serviço de identificação EXPO.
                @*<small>(build {version})</small>*@
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <p>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <p>
            </p>
        </div>
    </div>
</div>
